.title {
  font-size: 3rem;
  font-family: "Hiragino", serif;

  &_small {
    font-size: 2.25rem;
  }

  &_dark {
    color: $black;
  }

  &_light {
    color: $dark-brown;
  }
}

@media screen and (max-width: $tablet-width) {
  .title {
    font-size: 2.5rem;

    &_small {
      font-size: 1.5rem;
    }
  }
}
