.faq {
  padding: 5rem 10rem;
  background-color: $bgr-color;

  ul {
    list-style-type: none;
  }

  &__title {
    margin-bottom: 3rem;
  }

  &__item {
    padding: 2rem 0;
    border-bottom: 1px solid $black;
    cursor: pointer;
  }

  &__drop-title {
    margin-bottom: 2rem;
  }

  &__link {
    color: inherit;

    &:hover {
      color: $light-brown;
    }
  }
}
