.btn {
  font-size: 2rem;
  font-family: "Hiragino", serif;
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &_dark {
    color: $black;
  }

  &_light {
    color: $dark-brown;
  }
}
