.style-point {
  height: 100vh;
  padding: 10rem 5rem;
  background-image: url("../img/lines-vertical-bright.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    color: $dark-brown;
    font-size: 5rem;
    padding: 3rem;
  }

  &__title {
    text-transform: uppercase;
    font-family: "Heragino";
  }

  &__text {
    color: $dark-brown;
    font-size: 2rem;
    padding: 3rem;
    padding-right: 40%;
  }
}

@media screen and (max-width: $tablet-width) {
  .style-point {
    padding: 2rem;
    background-image: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 70%;

    &__title {
      font-size: 2.5rem;
      padding: 0;
      margin-bottom: 3rem;
    }

    &__text {
      font-size: 1.5rem;
      padding: 0;
    }
  }
}
