.collab {
  padding: 4.75rem 3.125rem;
  display: flex;
  justify-content: space-between;

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 7rem;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__text {
    max-width: 70%;
    margin-bottom: 5rem;
  }

  &__link-wrapper {
    margin-bottom: 10rem;
  }

  &__img {
    margin-right: 7rem;
  }
}
