// Viewports

$mobile-width: 480px;
$tablet-width: 810px;
$desktop-width: 1024px;

// Colors

$light-brown: rgba(236, 193, 138, 1);
$dark-brown: rgba(192, 137, 55, 1);
$black: #000000;
$bgr-color: rgba(166, 125, 68, 1);

// Mixins
