.bio {
  padding: 5rem 3.5rem;
  display: flex;
  background-color: $bgr-color;

  &__title {
    text-align: right;
    margin-bottom: 1rem;
  }

  &__text {
    text-align: justify;
  }

  &__wrapper {
    padding-top: 1.75rem;
    margin-right: 7rem;
  }
}

@media screen and (max-width: $tablet-width) {
  .bio {
    flex-direction: column;
  }
}
