.bio {
  padding: 5rem 3.5rem;
  display: flex;
  background-color: $bgr-color;

  &__title {
    text-align: right;
    margin-bottom: 1rem;
  }

  &__text {
    text-align: justify;
  }

  &__wrapper {
    max-width: 45%;
    padding-top: 1.75rem;
    margin-right: 7rem;
  }

  &__img {
    max-width: 100%;
  }
}

@media screen and (max-width: $tablet-width) {
  .bio {
    flex-direction: column;
    padding: 2rem 1.5rem;

    &__wrapper {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 2rem;

      * {
        max-width: 100%;
      }
    }

    &__img {
      max-width: 100%;
    }
  }
}

@media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
  .bio__img {
    max-width: 41.597vw;
  }
}
