.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/main-photo.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  &__title {
    // position: relative;
    font-size: 3.5rem;
    color: $dark-brown;
    font-family: "Hiragino", serif;
    text-transform: uppercase;

    // &::before,
    // &::after {
    //   position: absolute;
    //   content: "";
    //   width: 25px;
    //   height: 25px;
    //   background-color: $dark-brown;
    //   border-radius: 50%;
    // }
    // &::before {
    //   left: -5%;
    //   bottom: 40%;
    // }

    // &::after {
    //   right: -5%;
    //   bottom: 40%;
    // }
  }

  &__title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__subtitle {
    font-size: 1.875rem;
    font-weight: bold;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: $tablet-width) {
  .intro {
    padding: 0 1rem;

    &__title {
      max-width: 90%;
      font-size: 1.4rem;
      margin-bottom: 1.5rem;
    }

    &__subtitle {
      font-size: 1rem;
    }

    & span {
      width: 1rem;
      height: 1rem;
      &_right {
        margin-right: 0%;
      }
    }
  }
}
