.body-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  background-color: #000000;
}

.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("/assets/img/main-photo.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.intro__title {
  font-size: 3.5rem;
  color: rgb(192, 137, 55);
  font-family: "Hiragino", serif;
  text-transform: uppercase;
}
.intro__subtitle {
  font-size: 1.875rem;
  font-weight: bold;
}
.intro__wrapper {
  display: flex;
  flex-direction: column;
}

.up-button {
  display: none;
  position: fixed;
  bottom: 7rem;
  right: 5rem;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  z-index: 99;
  border: none;
  outline: none;
  background-image: url("../img/up-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 60%;
  background-color: rgb(236, 193, 138);
  cursor: pointer;
  transition: color 0.3s linear;
}
.up-button:hover {
  background-color: rgb(192, 137, 55);
  opacity: 50%;
  transition: color 0.3s linear;
}

@media screen and (max-width: 1024px) {
  .up-button {
    right: 2.5rem;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: rgb(236, 193, 138);
}

html {
  scroll-behavior: smooth;
}

.text {
  font-size: 1.375rem;
  font-weight: 100;
}
.text_light {
  color: rgb(236, 193, 138);
}
.text_dark {
  color: #000000;
}

.title {
  font-size: 3rem;
  font-family: "Hiragino", serif;
}
.title_small {
  font-size: 2.25rem;
}
.title_dark {
  color: #000000;
}
.title_light {
  color: rgb(192, 137, 55);
}

.btn {
  position: relative;
  font-size: 2rem;
  font-family: "Hiragino", serif;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.btn_dark {
  color: #000000;
}
.btn_dark::after {
  position: absolute;
  content: url("/assets/img/icons/arrow-black.svg");
  right: -30%;
}
.btn_light {
  color: rgb(192, 137, 55);
}
.btn_light::after {
  position: absolute;
  content: url("/assets/img/icons/arrow-brown.svg");
  right: -30%;
}
.btn_light:hover {
  color: rgb(236, 193, 138);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8.5rem 10.75rem 8.5rem 3rem;
}
.about__title {
  margin-bottom: 1rem;
}
.about__subtitle {
  margin-bottom: 1rem;
  color: rgb(192, 137, 55);
  font-size: 2rem;
}
.about__img {
  margin-right: 7rem;
}
.about__text {
  margin-bottom: 2rem;
  text-align: justify;
}

.bio {
  padding: 5rem 3.5rem;
  display: flex;
  background-color: rgb(166, 125, 68);
}
.bio__title {
  text-align: right;
  margin-bottom: 1rem;
}
.bio__text {
  text-align: justify;
}
.bio__wrapper {
  padding-top: 1.75rem;
  margin-right: 7rem;
}

.style {
  padding: 5rem 3.5rem;
  display: flex;
}
.style__title {
  text-align: left;
  margin-bottom: 1rem;
}
.style__text {
  text-align: justify;
}
.style__wrapper {
  padding-top: 4rem;
  margin-right: 7rem;
}
.style__img-wrapper {
  margin-right: 7rem;
}

.works {
  background-color: rgb(166, 125, 68);
}

.style-point {
  height: 100vh;
  background-image: url("/assets/img/lines-vertical-bright.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=main.css.map */
