.form-intro {
  padding-top: 8.75rem;
  text-align: center;

  &__title {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    color: $dark-brown;
  }

  &__text {
    display: block;
    max-width: 33%;
    margin: 0 auto;
  }
}

@media screen and (max-width: $tablet-width) {
  .form-intro {
    padding-top: 6rem;

    &__text {
      max-width: 70%;
    }
  }
}
