.form {
  max-width: 60%;
  display: block;
  margin: 0 auto;
  padding: 3%;
  padding-top: 5rem;

  &__body {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      background: rgba(143, 51, 51, 0.657);
    }
  }

  &__input {
    padding: 1.5rem;
    margin-bottom: 1rem;
    border: 3px solid $dark-brown;
    border-radius: 25px;
    background-color: inherit;
    color: inherit;
    font-size: 1.25rem;
    font-family: "Roboto";

    &:focus {
      outline: 1px solid $light-brown;
    }
  }

  &__label {
    color: $light-brown2;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  textarea {
    resize: vertical;
  }

  &__subtitle {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  &__btn {
    font-family: "Hiragino";
    color: $dark-brown;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;

    &::after {
      position: absolute;
      content: url("../img/icons/arrow-brown.svg");
      left: 34%;
    }

    &:focus {
      outline: none;
    }

    &:active {
      color: $bgr-color;
    }

    &:hover {
      color: $light-brown2;
    }
  }
}

.options {
  &__item {
    margin-bottom: 0.5em;
  }
  &__input {
    display: none;

    &:checked + .options__label::after {
      transform: scale(1);
    }
  }

  &__label {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    line-height: 140%;
    color: $light-brown2;

    &::before {
      content: "";
      align-self: flex-start;
      flex: 0 0 24px;
      height: 24px;
      margin-right: 10px;
      background-color: $black;
      border: 4px solid $light-brown;
      border-radius: 50%;
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      height: 16px;
      width: 16px;
      top: 8px;
      left: 8px;
      background-color: $light-brown;
      border-radius: 50%;
      transform: scale(0);
      transition: transform 0.3s ease 0s;
    }
  }
}

.file {
  &__item {
    position: relative;
  }

  &__input {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    font-size: 0;
    cursor: pointer;
  }

  &__button {
    display: inline-block;
    padding-left: 2.5rem;
    font-family: "Hiragino";
    font-size: 1.5rem;
    color: $dark-brown;
    background-image: url("../img/icons/attach-btn.svg");
    background-repeat: no-repeat;
    background-position: left;
    cursor: pointer;
  }

  &__preview {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 50%;
    padding: 1% 0;

    img {
      max-width: 100%;
      margin: 1%;
    }
  }
}

.checkbox {
  margin-bottom: 4rem;

  &__input {
    display: none;

    &:checked + .checkbox__label::after {
      transform: scale(1);
    }
  }

  &__label {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    color: $light-brown2;

    &::before {
      content: "";
      align-self: flex-start;
      flex: 0 0 24px;
      height: 24px;
      background-color: $black;
      border: 3px solid $light-brown;
      margin-right: 1rem;
    }

    &::after {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      top: 7px;
      left: 7px;
      background-color: $light-brown;
      transform: scale(0);
      transition: transform 0.3s ease 0s;
      cursor: pointer;
    }
  }
}

.checkbox._error .checkbox__label::before {
  border: 3px solid rgb(191, 78, 78);
}

.form__input._error {
  border: 3px solid rgb(191, 78, 78);
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: $tablet-width) {
  .form {
    max-width: 80%;
    padding: 4rem 0;

    &__input {
      padding: 0.75rem 1.5rem;
      font-size: 1rem;

      &::placeholder,
      &::-moz-placeholder {
        font-family: "Roboto";
        color: $light-brown2;
      }
    }

    &__label {
      font-size: 1rem;
    }

    &__btn {
      &::after {
        right: 10%;
      }
    }
  }

  .options__label span {
    font-size: 1rem;
  }

  .checkbox__label {
    font-size: 1rem;
  }
}
