.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8.5em 10.75em 8.5em 3em;

  &__title {
    margin-bottom: 1rem;
  }

  &__subtitle {
    margin-bottom: 1rem;
    color: $dark-brown;
    font-size: 2rem;
  }

  &__img {
    margin-right: 7rem;
  }

  &__text {
    margin-bottom: 2rem;
    text-align: justify;
  }
}

@media screen and (max-width: $tablet-width) {
  .about {
    padding: 60px 10px;
    &__title {
      font-size: 18px;
    }

    &__subtitle {
      font-size: 12px;
    }

    &__text {
      font-size: 10px;
    }

    &__img {
      margin-right: 11px;
    }
  }
}
