.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8.5em 10.75em 8.5em 3em;

  &__title {
    margin-bottom: 1rem;
  }

  &__subtitle {
    margin-bottom: 1rem;
    color: $dark-brown;
    font-size: 2rem;

    &_mobile {
      display: none;
    }
  }

  &__img {
    margin-right: 7rem;
  }

  &__text {
    margin-bottom: 2rem;
    text-align: justify;
  }
}

@media screen and (max-width: $tablet-width) {
  .about {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    height: 100vh;

    &__subtitle {
      display: none;

      &_mobile {
        display: block;
        margin-bottom: 1rem;
        font-size: 1.25rem;
      }
    }

    & img {
      max-width: 100%;
      max-height: 40%;
      margin-right: 0;
    }

    &__text {
      margin-bottom: 1rem;
    }

    &__link {
      padding-right: 0.5rem;
    }
  }
}
