.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8.5em 10.75em 8.5em 3em;

  &__title {
    margin-bottom: 1rem;
  }

  &__subtitle {
    margin-bottom: 1rem;
    color: $dark-brown;
    font-size: 2rem;
  }

  &__img {
    margin-right: 7rem;
  }

  &__text {
    margin-bottom: 2rem;
    text-align: justify;
  }
}

@media screen and (max-width: $tablet-width) {
  .about {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;

    & img {
      max-width: 100%;
      margin-right: 0;
    }
    &__link {
      padding-right: 0.5rem;
    }
  }
}
